car_data.csv
car_model.log
car_race.h5
__pycache__/level.cpython-312.pyc
__pycache__/main_menu.cpython-312.pyc
car_data.csv
__pycache__/AiCar.cpython-312.pyc
__pycache__/game.cpython-312.pyc
__pycache__/level.cpython-312.pyc
__pycache__/main_menu.cpython-312.pyc
car_data.csv
car_race.h5
